#Simulation config for CS726 project.
#Provides identical drivers to onboard config.
#Note that lodo_driver.so is required.

# load the Stage plugin simulation driver
driver
(		
  name "stage"
  provides [ "simulation:0" ]
  plugin "stageplugin"

  # load the named file into the simulator
  worldfile "simple.world"	
)

# Create a Stage driver and attach position2d and laser interfaces 
# to the model "r0"
driver
( 
  name "stage"
  provides [ "position2d:0" "laser:0" "speech:0" "graphics2d:0" ]
  model "r0" 
)

#VFH driver. position2d:1 and planner:0
#Uses onboard LODO.
driver
(
   name "vfh"
   provides ["position2d:1" "planner:0"]
   requires ["position2d:0" "laser:0"]

   safety_dist_0ms "0"
   safety_dist_1ms "0"
   max_speed "0.3"
   max_turnrate_0ms "80"
   weight_desired_dir "10.0"
)

